* {
  font-family: 'Source Code Pro';
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}

nav {
  padding-left: 3em;
  padding-right: 4em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgb(255, 255, 255);
}

.gif-icon {
  width: 90px;
  padding-top: 15px;
  padding-right: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  padding: 1em 0;
  list-style-type: none;
  padding: 25px;
  font-size: 1.7em;
}

nav li a {
  color: #4e4e4e;
  font-weight: 600;
  opacity: 0.6;
  text-decoration: none;
  transition: .3s;
}

nav li a:hover {
  color: rgb(132, 132, 132);
  opacity: 1;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.slideshow-container {
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: auto;
}

.prev {
  position: absolute;
  top: 50%;
  left: 0;
  padding-left: 10px;
  margin-top: -25px;
  height: 50px;
}

.next {
  position: absolute;
  top: 50%;
  right: 0;
  padding-right: 10px;
  margin-top: -25px;
  height: 50px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}
